{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Witaj | {{ block.super }}{% endblock %}

<style>
{% block style %}
.jumbotron {
	background-color:#34A273;
	color: #FFF;
}

.img-responsive {
	max-height: 300px;
	margin: 0 auto;
}


{% endblock %}
</style>


{% block content %}
<div class="jumbotron">
	<div class="container">
<!-- Main component for a primary marketing message or call to action -->
 		<div class="row">
 			<div class='col-sm-8'>
 			<h1>Sito Eratostenesa</h1><br><br>
 			<p>Przypisywany Eratostenesowi z Cyreny algorytm wyznaczania liczb pierwszych z zadanego przedziału [2,n].</p>
 			</div>
 			<div class='col-sm-4'>
 				<img src="{% static 'img/Sieve_of_Eratosthenes_animation.gif' %}" class="img-responsive">
 			</div>
 		</div>
 	</div>
 </div>
 <div class="row">
 	<div class='col-sm-4 col-sm-offset-4'>
 		<img src="{% static 'img/Portrait_of_Eratosthenes.png' %}" class="img-responsive">
 	</div>
 </div>
{% endblock %}
