{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Logowanie | {{ block.super }}{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<h1>Jesteś zalogowany!</h1>
{% if user.is_superuser %}
<a href="/admin/">Panel administratora</a>
{% endif %}

{% else %}
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<p class="lead">Zaloguj się!</p>
        <form action="" method="post">
        	{% csrf_token %}
        	{{ login_form|crispy }}

            <!-- Login: <input type="text" name="username" value="" size="50" />
            <br />
            Hasło: <input type="password" name="password" value="" size="50" />
            <br /><br /> -->

            <input class='btn btn-primary' type="submit" value="Zaloguj" />
            {% if logerr %}
            <p>Wprowadź poprawną nazwę użytkownika i hasło</p>
            {% endif %}
        </form>

    </div>
</div>
{% endif %}

{% endblock %}
