{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Rejestracja | {{ block.super }}{% endblock %}


{% block content %}


{% if user.is_authenticated %}
<h1>Posiadasz już konto!</h1>
{% else %}
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<p class="lead">Zarejestruj się!</p>
		<form id="user_form" method="post" action="/register/"
		enctype="multipart/form-data">

			{% csrf_token %}

            {{ user_form|crispy }}

    		<input class='btn btn-primary' type="submit" value="Zarejestruj" />
    	</form>
{% endif %}
{% endblock %}