{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Zadania | {{ block.super }}{% endblock %}



{% block content %}

{% if user.is_superuser %}
<a href="/admin/">Panel administratora</a>
{% endif %}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">

        <form action="" method="post">
           {% csrf_token %}
           {{ form|crispy }}
           <input id="id_button" class='btn btn-primary' type="submit" value="Dodaj zadanie" />
        </form>

       {% if msg %}
            <b>{{msg}}</b>
       {% endif %}
    </div>
</div>

<div class="row">
    <div id="id_msg" class="col-sm-8 col-sm-offset-2">
        
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">

       
       <p class="lead">Zadania w kolejce:</p>
       <table class="table table-striped">
        <thead>
            <tr>
                <th>Przedział</th>
                <th>Priorytet</th>
                <th>Postęp</th>
            </tr>
        </thead>
        <tbody id="pending">
            {% if lista %}
            {% for item in lista %}
            <tr>
                <td>{{ item.rangeof }}</td>
                <td>{{ item.priority }}</td>
                <td><div class="progress">
                        <div id="{{ item.id }}" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                        </div>
                    </div></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
            </tr>
            {% endif %}
        </tbody>
    </table> 

    
    <p class="lead">Ukończone zadania:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Przedział</th>
                <th>Wynik</th>
                <th>Użytkownik</th>
            </tr>
        </thead>
        <tbody id="done">
            {% if all_result %}
            {% for item in all_result %}
            <tr>
                <td>{{ item.rangeof }}</td>
                <td>{{ item.result }}</td>
                <td>{{ item.current_user }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
            </tr>
            {% endif %}
        </tbody>
    </table> 
    </div>
</div>

{% endblock %}

{% block js %}

<script src="{% static 'js/tasks.js' %}"></script>

{% endblock %}